<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Listas de Email</h4>
                        <p class="category">Suas Listas de Email</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Nome</th>
                                    <th>Descrição</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Geral</td>
                                    <td>Todos os contatos</td>
                                  
                                </tr>
                                <tr>
                                    <td>Vip's</td>
                                    <td>Contatos VIP's</td>
                                    
                                </tr>
                                <tr>
                                    <td>Devedores</td>
                                    <td>Devedores</td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <button routerLink="/nova-lista-email" type="submit" class="btn btn-danger pull-left">Nova Lista</button>
</div>
